@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;900&display=swap');


:root {
    --clr-dark: #27292a;
    --clr-darkest: #1f2122;
    --clr-light: #fff;
    --clr-primary: #ec6090;
    --clr-icons: gold;

    --clr-bg: var(--clr-darkest);

    --dis-primary: 50px;
    --padding-primary: var(--dis-primary);
    --margin-primary: var(--dis-primary);
    --border-radius-primary: calc(var(--dis-primary) / 2);

    --font-family-primary: 'Poppins', sans-serif;
    --font-weight-bold: 900;
    --font-weight-normal: 400;
}

body {
    background-color: var(--clr-bg);
    font-family: var(--font-family-primary);
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}